
h2{
  font-family: fantasy, sans-serif;
  color: darkblue;
padding: 2px;
text-decoration: underline;
}
h3{
  font-style: italic;
  font-family: monospace;
  color: yellow;
}
p{
color: red;
text-decoration: underline;
}

li{
  font-family: cursive;
  font-style: italic;
  color: orange
}

th,td{
  text-align: center;
  border: 3px solid black;
  color: #c54864;
  padding: 5px;
}

th{
  background-color: darkblue;
}

table{
  width: 50%;
  background-color: orange;
  border: 3px solid black;
  border-collapse: collapse; /* quitar los bordes dobles */

}
