
h2{
  font-family: fantasy, sans-serif;
  color: darkblue;
padding: 2px;
text-decoration: underline;
}
h3{
  font-family: serif;
  color: darkgreen;

}
p{
color: red;
text-decoration: underline;
}

li{
  font-family: cursive;
  font-style: italic;
  color: orange
}

th,td{
  text-align: center;
  border: 3px solid black;
  padding: 5px;
}

th{
  background-color: lightgrey;
}

table{
  margin: auto;
  width: 50%;
  background-color: none;
  border: 3px solid black;
  border-collapse: collapse; /* quitar los bordes dobles */

}

.bold{
  font-style: oblique;
  font-size: 20px;
}

#l1 {
  background-color: lightgrey;
}

#l2{
  background-position: center;
  background-color: teal;
  margin: 15px;
  padding: 20px;
}

@media print {

  .noimprimir, #l1{
    display: none;
  }

}
