h1 {
  text-align: center;
  color: green;
}

h2{
color: brown;
}

li{
font-style: italic;
font-family: fantasy;
}

a {
  font-family: serif;
  color: blue;
  font-style: normal;
}

a::before{
  content: " \270A  Click here: ";
  font-weight: bold;
}

input{
  margin: 10px;
  text-color: darkgreen;

}

#sopas  #tchrema{  /* dando estilo a lo que está dentro de cremas con espacio */
  color: green;
}

#caldos > #tcaldo{
  color: grey;
}

#sendr:hover { /* cabia el color cuando pasas sobre el botón (sudo element)*/
  background-color: red;
  color: white;

}

#marcar::selection{ /* Cabia el color cuando se selecciona el highlight */
color: red;
background-color: yellow;
}

p{
  text-align: justify;
}

.container{
  display: flex;
  flex-wrap: wrap;

}

.imgcontainer{
  width: 180px;
  length: 180px;
  margin: 10px;
}

@media print {
.noimprimir{
display: none;
}
}


/* responsive color */
@media (min-width: 500px){
  body{
    background-color: lightgrey;
  }
}

@media (max-width: 499px) {
  body{
    background-color: orange;
  }

}

/* responsive text */
@media (min-width: 500px){
  h1::before{
    content: "Arma tu menú"
  }
  h1{
      font-family: fantasy;
  }

}

@media (max-width: 499px) {
  h1::before{
    content: "Menú"
  }

}
